<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script>
        WebFontConfig = {
            google: {
                families: ["Open Sans:400,700"]
            }
        };
        (function(a) {
            var b = a.createElement("script");
            a = a.scripts[0];
            b.src = "https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js";
            a.parentNode.insertBefore(b, a)
        })(document);
    </script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{{url_for('static', filename='styles/style.min.css')}}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <div class="brand-centered">
                        <img id="logo" src="{{url_for('static', filename='images/logo.png')}}" height="50" alt="Logo">
                    </div>
                </a>
            </div>
        </div>
    </nav>
    <main>
        <div class="container-fluid">
            <form action="/" method="POST">
                <div class="form-group">
                    <input type="text" class="hidden-xs visible-sm-* visible-md-* visible-lg-* form-control input-lg" name="inputText" placeholder="Any word works!">
                    <input type="text" class="visible-xs-* hidden-sm hidden-md hidden-lg btn-group form-control" name="inputText" placeholder="Any word works!">
                </div>

                <div class="hidden-xs visible-sm-* visible-md-* visible-lg-* btn-group">
                    <button type="submit" class="btn btn-default btn-lg" name="textInput" value="Send"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;Generate GIF from Text</button>
                    <button type="submit" class="btn btn-default btn-lg" name="random" value="Send"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span>&nbsp;Random GIF</button>
                </div>

                <div class="visible-xs-* hidden-sm hidden-md hidden-lg btn-group">
                    <button type="submit" class="btn btn-default" name="textInput" value="Send"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;Generate GIF from Text</button>
                    <button type="submit" class="btn btn-default" name="random" value="Send"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span>&nbsp;Random GIF</button>
                </div>
            </form>

            <hr />

            <h2 id='error-message'>{{error}}</h2>
            <a href="{{source}}" target="_blank" rel="noopener noreferrer">
                <img src="{{giphy}}" width="100%" class="center-block">
            </a>
        </div>
    </main>

    <footer>
        <img src="{{url_for('static', filename='images/giphy.png')}}" class="center-block" alt="Powered by Giphy">
    </footer>

</body>

</html>
