body {
    font-family: 'Open Sans', sans-serif;
    -moz-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: auto;
}

.brand-centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.brand-centered .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#error-message {
    color: #de1f1f;
}

main {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

footer {
    margin: 0 auto;
    text-align: center;
}

footer img {
    width: 40%;
}

footer p {
    padding: 1em;
}

.btn-group {
    padding-top: 20px;
}

@media only screen and (max-width:768px) {
    main {
        width: 100%!important;
    }
    footer img {
        width: 50%!important;
    }
}

.emoji-lg {
    margin: -0.25ex 0.0625em 0 0.125em;
    line-height: normal;
    vertical-align: middle;
    display: inline-block;
}
